.Cartelera 
{
    margin-top: 5.324813631522897vh;
}

.Peliculas
{
    margin-top: 5.324813631522897vh;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 5vmin;
    min-height: 35vh;
    background-color: #CCC;
    border-radius: 1.0649627263045793vh;
    border: solid 0.21299254526091588vh black;
}

.PosterPelicula
{
    min-width: 15vw; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.Horarios
{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.Propiedades
{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 22vw; 
    font-size: calc(0.5324813631522897vh + 2vmin);
}

.Boton
{
    margin: 1vmin;
}

img
{
    width: 70%;
}
